$root-background-color: #ffffff;
$root-box-sizing: border-box;
$root-font-size: 100%;
$root-line-height: 1.5;
$form-element-background-color: transparent;
$form-element-color: inherit;
$form-element-min-height: 1.5em;
$media-element-vertical-align: middle;
$selection-background-color: #b3d4fc;
$selection-color: #ffffff;
$selection-text-shadow: none;
$small-font-size: 75%;
$table-border-collapse: collapse;
$table-border-spacing: 0;
$textarea-resize: vertical;
$root-font-family: sans-serif;
$root-color: #333333;
